*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(103,185,202);
   
}
header .ssilki{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.ssilkissilki a{
 text-decoration: none;
 color: black;
 margin-top: 20px;
 margin-right: 50px;
 margin-bottom: 20px;
}
.logo{
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.content{
    background-image: url(img/banner.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.txt{
    font-size: 100px;
    padding-top: 200px;
    margin-left: 300px;
    padding-bottom: 200px;
    color: aliceblue;
}
.obshiblock{
    display: flex;
    margin-left: 300px;
    gap: 400px;
}
.fiol{
    font-size: 50px;
    color: aliceblue;
    background-color: rgb(99,82,146);
}
.shag{
    margin-left: 300px; 
}

.txt2{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(99,82,146);
}
.oneblock{
display: flex;
color:rgb(99,82,146);
flex-direction: column
}
.twoblock{
    display: flex;
    color:rgb(99,82,146);
    flex-direction: column
}
.freeblock{
    display: flex;
    color:rgb(99,82,146);
    flex-direction: column
}
.blockki{
    height: 100%;
    width: 100%;
    background-color: rgb(99,82,146);
}

.cont{
    padding-top: 50px;
    margin-left: 650px;
    margin-right: 650px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
   
   
    padding-bottom: 50px;
}
.zametki{
    margin-top: 50px;
   
    margin-bottom: 50px;
}
.conttwo{
    display: flex;
    margin-left: 300px;
    gap: 400px;
    margin-top: 50px;
   
    margin-bottom: 50px;
}
.blockone{
    color: rgb(99,82,146);
}
.blocktwo{
   color: rgb(99,82,146);
}
.blockfree{
    color: rgb(99,82,146);
}
.contfre{
    height: 100%;
    width: 100%;
    background-color: rgb(99,82,146);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 800px;
    
}
.contwho {
    padding-top: 50px;
   background-color: rgb(103,185,202);
    padding-bottom: 50px;
    padding-left: 800px;
   
} 
.fiol1{
    font-size: 25px;
    color: aliceblue;
    background-color: rgb(99,82,146);
    text-align: center;
}
.conttfive{
    height: 300px;
    width: 1000px;
    background-color: rgb(192,192,192);
    padding-bottom: 60px;
    margin-left: 460px;
    color:rgb(99,82,146) ;
}
.divobsh{
    display: flex;
    gap: 50px;
    justify-content: center
}
.fiol2{
    font-size: 25px;
    color: aliceblue;
    background-color: rgb(99,82,146);
    text-align: center;
}
.contshest{
    height: 300px;
    width: 1000px;
    background-color: rgb(192,192,192);
    padding-top:90px;
    padding-bottom: 60px;
    margin-left: 460px;
    color:rgb(99,82,146) ;
}